@using Microsoft.AspNetCore.Identity
@using Candyshop.Models

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "Admin"))
{
   <li class="dropdown">
    <a class="dropdown-toggle" href="#" data-toggle="dropdown">Admin<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item" asp-area="Admin" asp-controller="Admin" asp-action="Index">Godis</a>
            <a class="dropdown-item" asp-area="Admin" asp-controller="Categories" asp-action="Index">Kategori</a>
            <div class="divider"></div>
            <a class="dropdown-item" asp-area="Admin" asp-controller="Orders" asp-action="Index">Beställningar</a>
        </li>
    </ul>
   </li>
}

