@model Weather

<div>
    <h1>Vad är det för väder?</h1>
    <h1>@Model.Today</h1>
    @*<div id="img">
        <img src="~/WeatherSymbols/{"id"}.png" />
    </div>*@
    @*@for (int i = 1; i <= 27; i++)
        {
            if (Model.ImageNr == i)
            {
                <img src="~/WeatherSymbols/{i}.png" />
            }
        }*@
    <img src="~/WeatherSymbols/{img}.png" />
    <h2>Bildnr: <span id="img" asp-for="ImageNr"></span></h2>
    <h2>@Model.ImageNr</h2>
    <h2>Temperatur: <span id="temp"></span> C</h2>
</div>

<script>
        const url = "https://opendata-download-metfcst.smhi.se/api/category/pmp3g/version/2/geotype/point/lon/16.158/lat/58.5812/data.json"
        async function GetWeather() {
            const response = await fetch(url);
            const data = await response.json();
            
            const img = (data.timeSeries[0].parameters[18].values[0]);
            const temp = (data.timeSeries[0].parameters[10].values[0]);

            console.log(data);
            console.log(data.timeSeries[0].parameters[10].values[0]);
            console.log(data.timeSeries[0].parameters[18].values[0]);
           
            document.getElementById("img").textContent = img;
            document.getElementById("temp").textContent = temp;
            
        };
    GetWeather();
</script>


