@model HomeViewModel
@using Microsoft.AspNetCore.Identity

<partial name="_Carousel" />

<h2>Godis på rea</h2>
<div class="row">
    @foreach(var candy in Model.CandyOnSale)
    {
        <partial name="_candyCard" model="candy" />
    }
</div>
